
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Humsafar.js"></script>

<h2>Index</h2>

<input id="txtName" type="text" value="Name"/>
<input id="txtCity" type="text" value="City" />
<input id="button" type="button" value="submit" onclick="SaveHumsafar()"/>

<table id="tblHum" border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>